.App {
  font-family: sans-serif;
  text-align: center;
}

.Timer-container {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  width: fit-content;
  text-align: center;
}

.Bloc-timer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}

.bloc-timer span {
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
  color: #999999;
}

.Button {
  background-color: #3a4764;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 7px #999;
}

.StartButton {
  background-color: green;
}

.PauseButton {
  background-color: red;
}

.Button:hover {
  background-color: #59c1e3;
}

.Button:active {
  background-color: #59c1e3;
  transform: translateY(4px);
  box-shadow: 0 4px #666;
}
